*{
      font-family: 'Rubik Doodle Shadow',cursive;
      padding: 0;
      margin: 0;
}
.container{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      #Root{
            border: 5px solid black;
      }
      .sidebar{
            font-size: 1.9rem;
            margin-left: 30px;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
      }
      #Play{
            background-color: rgb(0, 0, 0);
            color: rgb(255, 0, 0);
            font-size: 2rem;
            border: 0.2rem solid rgb(255, 0, 0);
            &:hover{
                  background-color: rgb(255, 0, 0);
                  border: 0.2rem solid rgb(0, 0, 0);
                  color: rgb(0, 0, 0);
            }
      }
}